import /init.microtrust.rc

on init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw

on post-fs
    # Support A/B feature for EMMC and UFS boot region
    wait /dev/block/mmcblk0boot0 2
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

    # Support A/B feature for combo emmc and ufs OTA update
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_emmc_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_emmc_b
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_ufs_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_ufs_b

    # Support A/B feature for combo emmc and ufs OTA update
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/by-name/preloader_emmc_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/by-name/preloader_emmc_b
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/by-name/preloader_ufs_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/by-name/preloader_ufs_b

    symlink /dev/block/platform/bootdevice /dev/block/bootdevice

    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils
    start mtk.plpath.utils.link

on fs
    install_keyring

service vibrator-1-3 /system/bin/hw/android.hardware.vibrator@1.3-service.mtk
    class hal
    disabled
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    seclabel u:r:recovery:s0

service keystore_auth /system/bin/keystore_auth
    user system
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc log
    disabled
    seclabel u:r:recovery:s0

service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    disabled
    oneshot
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0 /system/bin/android.hardware.keymaster@4.0-service.beanpod
    user root
    group root drmrpc
    disabled
    oneshot
    seclabel u:r:recovery:s0

on property:vendor.sys.listener.registered=true
    start gatekeeper-1-0
    
on property:hwservicemanager.ready=true
    start keymaster-4-0
    start gatekeeper-1-0
   
on property:ro.crypto.state=unsupported
    stop teei_daemon
    stop keymaster-4-0
    stop gatekeeper-1-0
    
on property:ro.crypto.state=unencrypted
    stop teei_daemon
    stop keymaster-4-0
    stop gatekeeper-1-0
        
on property:twrp.all.users.decrypted=true
    stop teei_daemon
    stop keymaster-4-0
    stop gatekeeper-1-0
   
on boot
    start vibrator-1-3
    start boot-hal-1-1
    start health-hal-2-1

# Fix flashlight on orangefox
on property:ro.orangefox.boot=1
    mkdir /tmp/flashlight
    write /tmp/flashlight/max_brightness "208"
    symlink /sys/devices/platform/flashlights_mt6360/torch_brightness /tmp/flashlight/brightness

# Enable DT2W
on post-fs
    write /sys/devices/platform/11007000.i2c0/i2c-0/0-0038/fts_gesture_mode "1"
